In [4]:
import pandas as pd

In [2]:
sales = pd.read_csv("/Users/anish/Documents/DSP Datasets/vgsales.csv")
descriptions = pd.read_csv("/Users/anish/Documents/DSP Datasets/all_games.csv")
descriptions

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9
...,...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0

In [3]:
sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
descriptions.rename(columns = {'name':'Name'}, inplace = True)
descriptions.rename(columns = {'platform':'Platform'}, inplace = True)
descriptions.rename(columns = {'release_date':'Year'}, inplace = True)
descriptions.rename(columns = {'summary':'Summary'}, inplace = True)
descriptions.head()

,Name,Platform,Year,Summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [5]:
platforms = descriptions['Platform'].unique()
print(platforms)
print(platforms.size)

[' Nintendo 64' ' PlayStation' ' PlayStation 3' ' Dreamcast' ' Xbox 360'
 ' Wii' ' Xbox One' ' PC' ' Switch' ' PlayStation 2' ' PlayStation 4'
 ' GameCube' ' Xbox' ' Wii U' ' Game Boy Advance' ' 3DS' ' Xbox Series X'
 ' DS' ' PlayStation Vita' ' PlayStation 5' ' PSP' ' Stadia']
22

In [6]:
platforms2 = sales['Platform'].unique()
print(platforms2)
print(platforms2.size)

['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']
31

In [7]:
descriptions['Platform'] = descriptions['Platform'].str.replace(' Nintendo 64', 'N64')

descriptions['Platform'] = descriptions['Platform'].str.replace(' PlayStation 3', 'PS3')

descriptions['Platform'] = descriptions['Platform'].str.replace(' Dreamcast', 'DC')
descriptions['Platform'] = descriptions['Platform'].str.replace(' Xbox 360', 'X360')
descriptions['Platform'] = descriptions['Platform'].str.replace(' Wii', 'Wii')

descriptions['Platform'] = descriptions['Platform'].str.replace(' Xbox One', 'XOne')
descriptions['Platform'] = descriptions['Platform'].str.replace(' PC', 'PC')
#descriptions['Platform'] = descriptions['Platform'].str.replace('Switch', '')
descriptions['Platform'] = descriptions['Platform'].str.replace(' PlayStation 2', 'PS2')

descriptions['Platform'] = descriptions['Platform'].str.replace(' PlayStation 4', 'PS4')
descriptions['Platform'] = descriptions['Platform'].str.replace(' GameCube', 'GC')
descriptions['Platform'] = descriptions['Platform'].str.replace(' Xbox', 'XB')

descriptions['Platform'] = descriptions['Platform'].str.replace(' Wii U', 'WiiU')
descriptions['Platform'] = descriptions['Platform'].str.replace(' Game Boy Advance', 'GBA')
descriptions['Platform'] = descriptions['Platform'].str.replace(' 3DS', '3DS')

#descriptions['Platform'] = descriptions['Platform'].str.replace('Xbox Series X', '')
descriptions['Platform'] = descriptions['Platform'].str.replace(' DS', 'DS')
descriptions['Platform'] = descriptions['Platform'].str.replace(' PlayStation Vita', 'PSV')

#descriptions['Platform'] = descriptions['Platform'].str.replace('PlayStation 5', '')
descriptions['Platform'] = descriptions['Platform'].str.replace(' PSP', 'PSP')
#descriptions['Platform'] = descriptions['Platform'].str.replace('Stadia', '')

descriptions['Platform'] = descriptions['Platform'].str.replace(' PlayStation', 'PS')

In [8]:
platforms = descriptions['Platform'].unique()
print(platforms)
print(platforms.size)

['N64' 'PS' 'PS3' 'DC' 'X360' 'Wii' 'XOne' 'PC' ' Switch' 'PS2' 'PS4' 'GC'
 'XB' 'Wii U' 'GBA' '3DS' 'XB Series X' 'DS' 'PSV' 'PS 5' 'PSP' ' Stadia']
22

In [10]:
combine = pd.merge(sales, descriptions, on = ['Name', 'Platform'])
combine = combine[["Name","Platform","Summary", "Global_Sales"]]
combine

,Name,Platform,Summary,Global_Sales
0,Wii Sports,Wii,Tennis (1-4 players): Players grab the control...,82.74
1,Mario Kart Wii,Wii,Mario Kart Wii comes with the intuitive Wii Wh...,35.82
2,Wii Sports Resort,Wii,Wii Sports Resort is a collection of fun sport...,33.00
3,New Super Mario Bros.,DS,The first new 2D Mario platformer since Super ...,30.01
4,Wii Play,Wii,"In Wii Play, the star of the game is you. Crea...",29.02
...,...,...,...,...
6113,Battle Fantasia,PS3,Apart from the fast paced combat and responsiv...,0.01
6114,Super Robot Taisen: Original Generation,GBA,Super Robot Taisen: Original Generation is a s...,0.01
6115,Mortal Kombat: Deadly Alliance,GBA,A controversial franchise marks its return in ...,0.01
6116,PGA European Tour,N64,"Realism, Authenticity, Sophistication and a Eu...",0.01
6117,Planet Monsters,GBA,Planet Monsters doesn't bring much to this alr...,0.01

In [15]:
count = combine['Summary'].isna().sum()
print(count)

7

In [16]:
all_combine_dupe = combine.drop_duplicates(subset=["Name", "Platform"], keep="first", inplace=False)
all_combine_dupe

,Name,Platform,Summary,Global_Sales
0,Wii Sports,Wii,Tennis (1-4 players): Players grab the control...,82.74
1,Mario Kart Wii,Wii,Mario Kart Wii comes with the intuitive Wii Wh...,35.82
2,Wii Sports Resort,Wii,Wii Sports Resort is a collection of fun sport...,33.00
3,New Super Mario Bros.,DS,The first new 2D Mario platformer since Super ...,30.01
4,Wii Play,Wii,"In Wii Play, the star of the game is you. Crea...",29.02
...,...,...,...,...
6113,Battle Fantasia,PS3,Apart from the fast paced combat and responsiv...,0.01
6114,Super Robot Taisen: Original Generation,GBA,Super Robot Taisen: Original Generation is a s...,0.01
6115,Mortal Kombat: Deadly Alliance,GBA,A controversial franchise marks its return in ...,0.01
6116,PGA European Tour,N64,"Realism, Authenticity, Sophistication and a Eu...",0.01
6117,Planet Monsters,GBA,Planet Monsters doesn't bring much to this alr...,0.01

In [17]:
final_data = all_combine_dupe.dropna(subset=["Summary"])
final_data

,Name,Platform,Summary,Global_Sales
0,Wii Sports,Wii,Tennis (1-4 players): Players grab the control...,82.74
1,Mario Kart Wii,Wii,Mario Kart Wii comes with the intuitive Wii Wh...,35.82
2,Wii Sports Resort,Wii,Wii Sports Resort is a collection of fun sport...,33.00
3,New Super Mario Bros.,DS,The first new 2D Mario platformer since Super ...,30.01
4,Wii Play,Wii,"In Wii Play, the star of the game is you. Crea...",29.02
...,...,...,...,...
6113,Battle Fantasia,PS3,Apart from the fast paced combat and responsiv...,0.01
6114,Super Robot Taisen: Original Generation,GBA,Super Robot Taisen: Original Generation is a s...,0.01
6115,Mortal Kombat: Deadly Alliance,GBA,A controversial franchise marks its return in ...,0.01
6116,PGA European Tour,N64,"Realism, Authenticity, Sophistication and a Eu...",0.01
6117,Planet Monsters,GBA,Planet Monsters doesn't bring much to this alr...,0.01

In [18]:
final_data.to_csv("Games_Dataset_Model.csv")

In [7]:
final_data = pd.read_csv("/Users/anish/Documents/DSP Datasets/Games_Dataset_Model.csv")
count = len(final_data.loc[final_data['Global_Sales'] <= 3])
print(count)

5752